@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    scroll-behavior: smooth;
}

.left-50 {
    left: 50%;
}
.right-50 {
    right: 50%;
}
.top-50 {
    top: 50%;
}

.-z-1 {
    z-index: -1;
}

.secondary-title {
    @apply text-3xl font-bold;
}

.secondary-title::before {
    content: "";
    @apply block w-12 h-2 bg-indigo-700 rounded-full mb-1;
}

.section-paragraph {
    @apply my-6 w-full max-w-3xl;
}

.badge {
    @apply px-4 py-2 text-sm rounded bg-red-700;
}

[id] {
scroll-margin-top: 100px;
}

.left-percentage {
    left: 5%;
}

.h-screen-partial {
    height: 80vh;
}

.nav-dot {
    transition: background 200ms, border-color 200ms;
}

.selected-circle {
    @apply border-slate-500 bg-slate-500;
}

.nav-dot:hover span {
    opacity: 1;
}


/* progress solution */
/* progress {
  color: #0063a6;
  line-height: 1.5em;
  width: 10em;
}

progress::-webkit-progress-bar { background: #fff; }
progress::-webkit-progress-value { background: #0063a6; } */